---
// Import the necessary components
import { Image } from "astro:assets";
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.webp";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import disciplines from "@images/person-working.avif";
import industries from "@images/patterns.jpg";
import patterns from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore surveilr on GitHub"
    url="https://github.com/surveilr"
  />

  <HeroSection
    title=`Continuous Security, Quality and Compliance Evidence`
    subTitle=`<code><b>surveilr</b></code> ensures your organization’s cybersecurity, quality metrics, and regulatory compliance efforts are backed by a SQL queryable private <i>evidence warehouse</i> that can fit on your laptop — fully auditable without IT support and with little to no human intervention.
      <p class="mt-4 text-neutral-700 dark:text-neutral-400"><code><b>surveilr</b></code> is a downloadable single binary that securely runs on Windows, Linux, and MacOS in your infrastructure. Your data is always private and can only be shared if you allow it.</p>
      <p class="mt-4 text-neutral-700 dark:text-neutral-400">It's your data, don't give it away to AI scrapers or cloud vendors for free.</p>`
    primaryBtn="Start Exploring"
    primaryBtnURL="/pattern"
    secondaryBtn="Talk to us"
    secondaryBtnURL="/contact"
    withReview={false}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast pattern boxes containing assorted hardware tools"
  />

  <!-- <center>
    <Fragment set:html={featureImage} />
  </center> -->

  <!-- TODO: add this section with Netspective and other clients
  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  /> -->

  <FeaturesGeneral
    title="Meeting Industry Demands"
    subTitle=`The Resource Surveillance & Integration Engine is designed to address modern challenges by providing a centralized platform for evidence surveillance and data aggregation, enabling organizations to securely collect, analyze and audit critical evidentiary data from across their systems.`
    src={featureImage}
    alt="ScrewFast patterns in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`
      <a href="/blog/surveilr-core-vs-patterns">
        Use <span class="text-yellow-500 dark:text-yellow-400">surveilr</span>'s capabilities across multiple mission- and safety-critical use cases (called <em>Patterns</em>).
      </a>
      `
    tabs={[
      {
        heading: "Universal Patterns",
        content:
          'surveilr can be applied across a wide range of "horizontal" patterns (use cases), such as security incident tracking, where it automates the collection and analysis of threat logs, compliance reporting for regulatory audits with machine-attestable evidence, and operational monitoring, where it continuously gathers performance and quality metrics across different systems, helping organizations in any sector stay audit-ready.',
        svg: "dashboard",
        src: patterns,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Industry-specific Patterns",
        content: `surveilr also drives industry-specific "vertical" use cases such as healthcare to ensure HIPAA compliance and secure patient data, finance to automatically monitor regulatory requirements like SOX and GDPR, and energy & utilities to safeguard critical infrastructure with real-time tracking of operational quality and environmental standards.`,
        svg: "tools",
        src: industries,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Discipline-based Patterns",
        content:
          "surveilr supports various professional disciplines-based use cases such as helping software engineering teams track development quality and process adherence, assists quality assurance (QA) teams with automated quality tracking and reporting, and empowers regulatory compliance professionals to automate evidence gathering and ensure adherence to both industry-specific and global regulations.",
        svg: "house",
        src: disciplines,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <!-- <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  /> -->

  <!-- <PricingSection pricing={pricing} /> -->

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="Ready to start using the Resource Surveillance and Integration Engine?"
    url="https://github.com/surveilr"
  />
</MainLayout>
